/* paragraphs ***************************************************/
.field--name-field-width,
.field--name-field-column-widths {
  display: none;
}

.paragraph>.paragraph__column {
  padding: 0;
}

.paragraph--type--common-button .field--name-field-common-button-type {
  display: none;
}

/* menu ***************************************************/
.nav-mega {
  display: none;
}

/* News && Events ***************************************************/
.view-data-news-events-year,
.view-id-block_news_events_list.view-display-id-block_1 input.form-submit {
  display: none;
}

.page-node-type-news-events .block-field-blocknodenews-eventsfield-default-images {
  /* display: none; */
}

/* people list ***************************************************/
.card-people {
  cursor: pointer;
}

.block-views-blockdata-taxonomy-sdgs-block-1 {
  display: none;
}

/* back to top ***********/
#block-i2-theme-backtotop {
  opacity: 0;
}

#block-i2-theme-backtotop .sidebar-back-to-top {
  background: #000;
  border: #E9E9E9 1px solid;
  border-right: none;
  cursor: pointer;
  padding: 14px;
  position: fixed;
  right: 0;
  bottom: 40px;
  z-index: 30;
  transition: all 0.2s ease;
}

#block-i2-theme-backtotop .sidebar-back-to-top:hover {
  background: #000;
}

@media screen and (min-width: 1200px) {
  #block-i2-theme-main-navigation>ul.navbar-nav>li.nav-item:hover {
    .nav-mega {
      display: block;
    }
  }
}

@media screen and (min-width: 1200px) {
  #block-i2-theme-main-navigation>ul.navbar-nav>li.nav-item.dropdown>ul {
    display: none !important;
  }
}
