/* paragraphs ***************************************************/
.field--name-field-width,
.field--name-field-column-widths {
  display: none;
}
.paragraph>.paragraph__column {
  padding: 0;
}
/* News && Events list ***************************************************/
.view-data-news-events-year,
.view-id-block_news_events_list.view-display-id-block_1 input.form-submit{
  display: none;
}
