/* system CSS ------------------------------------------------------------------------------*/
@media screen and (min-width: 61rem) {

  body .layout-region--node-main,
  body .layout-region--node-footer,
  body .layout-region--main,
  body .layout-region--footer {
    max-width: 100%;
    width: 100%;
  }
}

body.user-logged-in header,
body.path-user header {
  position: relative;
  top: 0 !important;
}

.paragraphs-content-wrapper .summary-content:nth-child(1) {
  font-weight: 800;
  font-size: 110%;
}

#block-i2-theme-content .field--name-field-class {
  display: none;
}

.placeholder {
  background-color: unset;
}

.views-bulk-actions {
  margin-top: 60px;
}

.view-admin-webform-view-page.view-display-id-page_1 .views-field-operations ul.dropbutton>li:not(:first-child, :nth-child(2), :nth-child(3), :nth-child(4)),
.path-admin-nolimits .toolbar-icon-admin-toolbar-tools-extra-linkssystem-theme-settings-theme-bootstrap5,
.path-admin-nolimits .toolbar-icon-admin-toolbar-tools-extra-linkssystem-theme-settings-theme-claro,
.path-admin-nolimits .toolbar-icon-admin-toolbar-tools-extra-linkssystem-theme-settings-theme-olivero,
.path-admin-nolimits #block-claro-primary-local-tasks>nav>ul>li:first-child {
  display: none;
}


/* webform system CSS ------------------------------------------------------------------------------*/
.path-admin-formReviewer #block-claro-primary-local-tasks nav li:not(:first-child),
.path-admin-formReviewer form#webform-bulk-form table.webform-forms ul.dropbutton--multiple li,
.path-admin-formReviewer #block-claro-secondary-local-tasks ul.tabs>li {
  display: none;
}

.path-admin-formReviewer #block-claro-secondary-local-tasks ul.tabs>li:nth-child(1),
.path-admin-formReviewer #block-claro-secondary-local-tasks ul.tabs>li:nth-child(3),
.path-admin-formReviewer form#webform-bulk-form table.webform-forms ul.dropbutton--multiple li:nth-child(1),
.path-admin-formReviewer form#webform-bulk-form table.webform-forms ul.dropbutton--multiple li:nth-child(2),
.path-admin-formReviewer form#webform-bulk-form table.webform-forms ul.dropbutton--multiple li:nth-child(5) {
  display: block;
}


/* backend CSS ------------------------------------------------------------------------------*/
body.page-node-type-page.homepage-edit-page .field--name-field-details-paragraphs,
body.page-node-type-page.homepage-edit-page #edit-group-banner-section,
.field--name-field-homepage-details-paragraph {
  display: none;
}

body.page-node-type-page.homepage-edit-page .field--name-field-homepage-details-paragraph {
  display: block;
}

/* Programme CSS ------------------------------------------------------------------------------*/
.node-programmes-form .field--name-field-tags #edit-field-tags>div:first-child label,
.node-programmes-form .field--name-field-tags #edit-field-tags>div:nth-child(2) label,
.node-programmes-edit-form .field--name-field-tags #edit-field-tags>div:first-child label,
.node-programmes-edit-form .field--name-field-tags #edit-field-tags>div:nth-child(2) label {
  font-weight: bold;
}

.node-programmes-form .field--name-field-tags #edit-field-tags>div:not(:first-child, :nth-child(2)),
.node-programmes-edit-form .field--name-field-tags #edit-field-tags>div:not(:first-child, :nth-child(2)) {
  margin-left: 35px;
}

.js-form-item-field-tags-52 {
  margin-left: 0 !important;
  padding-left: 0;
}

.js-form-item-field-tags-52 input {
  display: none;
}

/* SES Highlights CSS ------------------------------------------------------------------------------*/
.highlightsRightSwiper .swiper-slide {
  position: relative;
}

.highlightsRightSwiper .swiper-slide::before {
  content: '';
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid lightblue;
  border-right-color: #14833E;
  animation: l2 1s infinite linear;
  position: absolute;
  left: calc(50% - 25px);
  top: calc(50% - 25px);
  z-index: -1;
}

@keyframes l2 {
  to {
    transform: rotate(1turn)
  }
}

/* news&&events  CSS ------------------------------------------------------------------------------*/
.page-node-type-news-events .field--name-field-date span.date-separator {
  background: url(/themes/custom/i2_theme/image/icon/card_date_arrow.svg) center center no-repeat;
  text-indent: -9999px;
  display: inline-block;
  width: 52px;
  height: 26px;
  vertical-align: middle;
}
