/* Paragraphs CSS ------------------------------------------------------------------------------*/
/* 隱藏 .group-styles 後面所有兄弟元素中的 .group-styles */
.group-styles+div .group-styles,
.group-styles+div~* .group-styles,
div.hidden{
  display: none !important;
}

div.show {
  display: block !important;
}
