/* Paragraphs CSS ------------------------------------------------------------------------------*/
/* 隱藏 .group-styles 後面所有兄弟元素中的 .group-styles */
.group-styles+div .group-styles,
.group-styles+div~* .group-styles,
div.hidden,
.field--name-field-has-quote,
.paragraph--type--button .field--name-field-color,
.paragraph--type--button .field--name-field-size,
.paragraph--type--button .field--name-field-type,
.paragraph--type--cards-section .field--name-field-section-color,
.paragraph--type--cards-section .field--name-field-section-type,
.paragraph--type--image-with-caption .field--name-field-columns-type,
.paragraph--type--carousel-section>.paragraph__column>.layout--onecol:nth-child(2) {
  display: none !important;
}

div.show {
  display: block !important;
}

.paragraph--type--header {
  display: none;
}

.carouselSectionSwiper .swiper-slide {
  max-width: 900px;
  width: 100%;
  height: 500px;
}

.carouselSectionSwiper .swiper-slide>a {
  display: block;
  position: relative;
  max-width: 900px;
  width: 100%;
  height: 500px;
}
