/* Paragraphs CSS ------------------------------------------------------------------------------*/
.medium-container {
    max-width: 1276.5px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
}

.details-paragraphs-group .claro-details__wrapper {
    margin: 0;
}

.details-paragraphs-group #edit-field-body-paragraphs,
.details-paragraphs-group #edit-field-conventional-paragraphs {
    border: unset;
    margin: 0;
    margin-top: 30px;
}

.details-paragraphs-group #edit-field-body-paragraphs>.fieldset__legend>.fieldset__label,
.details-paragraphs-group #edit-field-conventional-paragraphs>.fieldset__legend>.fieldset__label {
    display: none;
}

.paragraph--type--module-1,
.paragraph--type--module-2,
.paragraph--type--module-3,
.paragraph--type--module-4,
.paragraph--type--module-5,
.paragraph--type--module-7,
.paragraph--type--module-8,
.paragraph--type--module-9,
.paragraph--type--i2-accordion-paragraphs {
    padding-bottom: 90px;
}

body:not(.path-frontpage, .page-node-type-programme) [class*="paragraph--type--module-"]:not(.paragraph--type--module-card, .paragraph--type--module-6),
body:not(.path-frontpage, .page-node-type-programme) .paragraph--type--i2-accordion-paragraphs {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
}

body:not(.path-frontpage, .page-node-type-page) .has-border [class*="paragraph--type--module-"]:not(.paragraph--type--module-card, .paragraph--type--module-6),
.paragraph--type--i2-accordion-paragraphs {
    padding-top: 90px;
}

body:not(.path-frontpage, .page-node-type-page) .has-border [class*="paragraph--type--module-"]:not(.paragraph--type--module-card),
body:not(.path-frontpage, .page-node-type-page) .has-border .paragraph--type--i2-accordion-paragraphs {
    border-top: #000 1px solid;
}

body.page-node-type-page:not(.path-frontpage) .has-border [class*="paragraph--type--module-"]:not(.paragraph--type--module-card)::before,
body.page-node-type-page:not(.path-frontpage) .has-border .paragraph--type--i2-accordion-paragraphs::before {
    background-color: #000;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    left: 20px;
    right: 20px;
    top: 0;
}

/* module 1 */
.paragraph--type--module-1 .layout--twocol-section--50-50 {
    column-gap: 40px;
    row-gap: 40px;
}

.page-node-type-page .paragraph--type--module-1 .layout--twocol-section--50-50 {
    max-width: 1276.5px;
    margin-left: auto;
    margin-right: auto;
}

.page-node-type-programme .paragraph--type--module-1 .layout--twocol-section.layout--twocol-section--50-50>* {
    flex: 1 1 auto;
}

.paragraph--type--module-1 .layout--twocol-section.layout--twocol-section--50-50>.layout__region--first,
.paragraph--type--module-1 .layout--twocol-section.layout--twocol-section--50-50>.layout__region--second {
    width: calc(50% - 20px);
}

.paragraph--type--module-1 .layout--twocol-section.layout--twocol-section--50-50>.layout__region--first h2 {
    display: none;
}

.paragraph--type--module-1 .layout--twocol-section.layout--twocol-section--50-50>.layout__region--second h2 {
    display: block;
}

/* module 1 end */
/* module 2 */
.paragraph--type--module-2>.paragraph__column h2 {
    margin-bottom: 100px;
}

.paragraph--type--module-2>.paragraph__column {
    width: fit-content;
    row-gap: 50px;
}

.paragraph--type--module-2>.paragraph__column.row>* {
    box-sizing: border-box;
}

/* module 2 end */
/* module 3 */
.paragraph--type--module-3 .swiper {
    margin-left: -20px;
    margin-right: -20px;
}

.paragraph--type--module-3 .swiper h2 {
    padding-left: 20px;
    padding-right: 20px;
}

.paragraph--type--module-3 .swiper-slide {
    clip-path: polygon(20px 0, calc(100% - 20px) 0, calc(100% - 20px) 100%, 20px 100%);
    width: 33.33%;
    padding: 0 20px;
}

.paragraph--type--module-3 .swiper-wrapper img {
    cursor: pointer;
    width: 100%;
    aspect-ratio: 19 / 25;
    object-fit: cover;
}

.paragraph--type--module-3 .swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 20px;
    transform: none;
}

/* module 3 end */
/* module 4 */
.paragraph--type--module-4>.paragraph__column {
    width: fit-content;
    row-gap: 50px;
}

.paragraph--type--module-4>.paragraph__column.row>* {
    box-sizing: border-box;
}

.paragraph--type--module-4 .accordion-header {
    position: relative;
    z-index: 1;
}

.paragraph--type--module-4 .accordion-header img {
    display: block;
    width: 100%;
    aspect-ratio: 16 / 10;
}

.paragraph--type--module-4 .accordion-data {
    position: relative;
    left: 20px;
    z-index: 2;
}

.paragraph--type--module-4 .accordion-button {
    padding: 0;
    position: relative;
}

.paragraph--type--module-4 .accordion-button::after {
    background-color: var(--custom-theme-color);
    content: '';
    display: block;
    width: 1px;
    height: 0;
    position: absolute;
    left: 50%;
    top: 100%;
    transition: all 0.2s ease;
}

.paragraph--type--module-4 .accordion-button:not(.collapsed)::after {
    height: 60px;
}

.paragraph--type--module-4 .accordion-flush .accordion-collapse.show {
    margin-top: 60px;
    transition: all 0.2s ease;
}

.paragraph--type--module-4 .accordion-collapse {
    padding-left: 20px;
    padding-right: 20px;
}

/* module 4 end */
/* module 5 */
.paragraph--type--module-5 .GallerySwiper-button .swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    left: 0;
    transform: none;
}

.paragraph--type--module-5 .field--name-bp-link,
.paragraph--type--module-5 .field--name-bp-modal-button-text {
    display: none;
}

.paragraph--type--module-5>.link {
    max-width: 1045px;
    margin: 0 auto;
    position: relative;
    margin-top: 20px;
}

.paragraph--type--module-5>.link>div {
    display: inline-block;
}

.paragraph--type--module-5>.link a {
    background: none;
    color: #000;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    padding: 0;
    position: relative;
    z-index: 1;
    height: 50px;
    padding-left: 30px;
    padding-right: 30px;
    border: #000 2px solid;
}

.paragraph--type--module-5>.link a::before {
    background: url(/themes/custom/i2_theme/image/icon/download-leaflet.svg);
    content: '';
    display: block;
    width: 25px;
    height: 24px;
    margin-right: 9px;
}

.paragraph--type--module-5>.link a::after {
    background: var(--custom-theme-color);
    content: '';
    display: block;
    width: 100%;
    height: 0;
    position: absolute;
    left: 0;
    top: auto;
    bottom: 0;
    z-index: -1;
    transition: height 0.15s ease-out;
}

.paragraph--type--module-5>.link a:hover {
    background-color: var(--custom-theme-color);
}

.paragraph--type--module-5>.link a:hover::before {
    background: url(/themes/custom/i2_theme/image/icon_light/download-leaflet.svg);
}

.paragraph--type--module-5>.link a:hover::after {
    height: 100%;
}

/* module 6 */
.paragraph--type--module-6 {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.paragraph--type--module-6 .field--name-field-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
    margin-bottom: 20px;
    padding: 0 40px;
    text-align: center;
}

.paragraph--type--module-6 .field--name-field-media-image img {
    display: block;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin: 0 auto 10px;
}

.field--name-field-name {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
}

/* module 6 end */
/* module 7 */
.paragraph--type--module-7 .i2-table table>thead>tr>th {
    border-color: #787878;
    box-shadow: none;
    padding: 4px 20px 15px;
    border-bottom-width: 0;
}

.paragraph--type--module-7 .i2-table>table>tbody tr:nth-child(1) {
    border-top: 1px solid #212529;
}

.paragraph--type--module-7 .i2-table table>tbody>tr>td {
    border-top: #D9D9D9 1px solid;
    border-bottom: none !important;
    padding: 20px;
    box-shadow: none;
}

.paragraph--type--module-7 .i2-table table>tbody>tr:nth-child(odd)>td {
    background-color: #FAFAFA;
}

.paragraph--type--module-7 .i2-table table>tbody>tr:first-child>td {
    border-top: none;
}

/* module 7 end */
/* module 8 */
.paragraph--type--module-8>.paragraph__column {
    width: calc(100% + 40px);
    row-gap: 40px;

    & .paragraph--type--module-card {
        height: 100%;
    }
}

.paragraph--type--module-8>.paragraph__column>div:not(.field) {
    box-sizing: border-box;
    width: 50%;
}

.page-node-type-programme .paragraph--type--module-8>.paragraph__column.row>* {
    box-sizing: border-box;
}

/* module 8 end */

/* Link */
.paragraph--type--link .field--name-bp-link {
    margin: 30px 0;
}

.paragraph--type--link .field--name-bp-link .link-item .link-url {
    display: inline-block;
}

.paragraph--type--link .field--name-bp-link .link-item .link-url a {
    background: var(--custom-theme-color);
    border: unset;
    padding-left: 28px;
    padding-right: 100px;
    position: relative;
}

.paragraph--type--link .field--name-bp-link .link-item .link-url a::after {
    position: absolute;
    content: '';
    background: url(/themes/custom/i2_theme/image/icon/arrow-oblique-black.svg) center center no-repeat;
    background-size: contain;
    width: 15px;
    height: 15px;
    right: 26px;
    top: 20px;
}


/* Link end */

/* module-9 */
.paragraph--type--module-9 .layout--twocol-section {
    column-gap: 40px;
}

/* module-9 end */
/* i2 Accordion */
.paragraph--type--i2-accordion-paragraphs .accordion {
    border-top: #868686 1px solid;
}

.paragraph--type--i2-accordion-paragraphs .accordion-item {
    border-color: #868686;
    border-left: 0;
    border-right: 0;
    /* padding: 23px 20px; */
}

.paragraph--type--i2-accordion-paragraphs .accordion-header {
    cursor: pointer;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.35;
    padding: 23px 68px 23px 20px;
    position: relative;
    transition: all 0.2s ease;
}

.paragraph--type--i2-accordion-paragraphs .accordion-header[aria-expanded="true"] {
    padding-bottom: 40px;
}

.paragraph--type--i2-accordion-paragraphs .accordion-header::before,
.paragraph--type--i2-accordion-paragraphs .accordion-header::after {
    background-color: var(--custom-theme-color);
    content: '';
    display: block;
    width: 28px;
    height: 2px;
    margin-top: -1px;
    position: absolute;
    top: 50%;
    right: 20px;
    transition: all 0.2s ease;
}

.paragraph--type--i2-accordion-paragraphs .accordion-header::after {
    transform: rotate(-90deg);
}

.paragraph--type--i2-accordion-paragraphs .accordion-header[aria-expanded="true"]::before {
    opacity: 0;
    transform: rotate(90deg);
}

.paragraph--type--i2-accordion-paragraphs .accordion-header[aria-expanded="true"]::after {
    transform: rotate(0deg);
}

.paragraph--type--i2-accordion-paragraphs .accordion-collapse {
    padding-left: 20px;
    padding-right: 20px;
}

/* i2 Accordion end */

.paragraph>.paragraph__column {
    float: unset;
    width: auto;
    padding: 0;
}

.field--type-entity-reference-revisions.field--name-field-banner-paragraphs.field--widget-paragraphs .field-multiple-drag {
    min-width: 20px !important;
}

.field--type-entity-reference-revisions.field--name-field-banner-paragraphs.field--widget-paragraphs .paragraph-bullet:after,
.paragraph .field--name-field-width,
.paragraph--type--module-2 .field--name-field-columns-tags,
.paragraph .field--name-field-tags,
.paragraph .field--name-field-columns-tags,
.paragraph .field--name-field-link-text,
.paragraph--type--module-1 .field--name-bp-link,
.paragraph--type--module-2 .field--name-bp-link,
.paragraph--type--module-7>.paragraph__column,
.paragraph .field--name-field-background,
.paragraph .field--name-field-class,
.paragraph .field--name-field-id,
.paragraph .field--name-field-background-color,
.paragraph .block-field-blockparagraphmodule-9field-column,
.paragraph .field--name-field-has-border {
    display: none;
}

.show {
    display: block !important;
}

.hidden {
    display: none !important;
}

.paragraph--type--i2-accordion .accordion-button {
    display: block;
    cursor: pointer;
}

.column-25 {
    width: calc(25% - 20px) !important;
    flex: unset !important;
    display: inline-block;
}

.column-33 {
    width: calc(33.33% - 20px) !important;
    flex: unset !important;
    display: inline-block;
}

.column-50 {
    width: calc(50% - 20px) !important;
    flex: unset !important;
    display: inline-block;
}

.column-67 {
    width: calc(66.67% - 20px) !important;
    flex: unset !important;
    display: inline-block;
}

.column-75 {
    width: calc(75% - 20px) !important;
    flex: unset !important;
    display: inline-block;
}

/* media  ***********************************************/
@media screen and (min-width: 768px) {

    /* module 2, module 4 */
    .paragraph--type--module-2>.paragraph__column .col-md-12 {
        max-width: 1317.5px;
        margin-left: auto;
        margin-right: auto;
    }

    .paragraph--type--module-2>.paragraph__column .col-md-6,
    .paragraph--type--module-4>.paragraph__column .col-md-6 {
        width: 50%;
    }

    /* module 2, module 4 end */
}

@media screen and (min-width: 992px) {

    /* module 2, module 4 */
    .paragraph--type--module-2>.paragraph__column .col-lg-4,
    .paragraph--type--module-4>.paragraph__column .col-lg-4 {
        width: 33.33333333%;
    }

    /* module 2, module 4 end */
}

@media screen and (min-width: 1200px) {
    .column-25 {
        width: calc(25% - 25px) !important;
    }

    .column-33 {
        width: calc(33.33% - 25px) !important;
    }

    .column-50 {
        width: calc(50% - 25px) !important;
    }

    .column-67 {
        width: calc(66.67% - 25px) !important;
    }

    .column-75 {
        width: calc(75% - 25px) !important;
    }

    body.page-node-type-page:not(.path-frontpage) .has-border [class*="paragraph--type--module-"]:not(.paragraph--type--module-card)::before,
    body.page-node-type-page:not(.path-frontpage) .has-border .paragraph--type--i2-accordion-paragraphs::before {
        left: 25px;
        right: 25px;
    }

    /* module 1, module 9 */
    .paragraph--type--module-1 .layout--twocol-section--50-50,
    .paragraph--type--module-9 .layout--twocol-section {
        column-gap: 50px;
    }

    .paragraph--type--module-1 .layout--twocol-section.layout--twocol-section--50-50>.layout__region--first,
    .paragraph--type--module-1 .layout--twocol-section.layout--twocol-section--50-50>.layout__region--second {
        width: calc(50% - 25px);
        flex: 1 1 auto;
    }

    /* module 1, module 9 end */
    /* module 2, module 4 */
    .page-node-type-programme .paragraph--type--module-2>.paragraph__column.row,
    .page-node-type-programme .paragraph--type--module-4>.paragraph__column.row {
        margin-left: -25px;
        margin-right: -25px;
    }

    .page-node-type-programme .paragraph--type--module-2>.paragraph__column.row>*,
    .page-node-type-programme .paragraph--type--module-4>.paragraph__column.row>*,
    .paragraph--type--module-4 .accordion-collapse {
        padding-left: 25px;
        padding-right: 25px;
    }

    .paragraph--type--module-2>.paragraph__column .col-xl-3,
    .paragraph--type--module-4>.paragraph__column .col-xl-3 {
        width: 25%;
    }

    /* module 2, module 4 end */
    /* module 3 */
    .paragraph--type--module-3 .swiper {
        margin-left: -25px;
        margin-right: -25px;
    }

    .paragraph--type--module-3 .swiper h2 {
        padding-left: 25px;
        padding-right: 25px;
    }

    .paragraph--type--module-3 .swiper-slide {
        clip-path: polygon(25px 0, calc(100% - 25px) 0, calc(100% - 25px) 100%, 25px 100%);
        padding: 0 25px;
    }

    .page-node-type-page .paragraph--type--module-3 .swiper-slide {
        width: 25%;
    }

    .paragraph--type--module-3 .swiper-horizontal>.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
        left: 25px;
    }

    /* module 3 end */
    /* module 5 */

    /* module 5 end */
    /* module 8 */
    .paragraph--type--module-8>.paragraph__column {
        width: calc(100% + 50px);
    }

    .paragraph--type--module-8>.paragraph__column.row>* {
        padding-left: 25px;
        padding-right: 25px;
    }

    /* module 8 end */
}

@media only screen and (max-width: 1199.98px) {

    body:not(.path-frontpage, .page-node-type-programme) [class*="paragraph--type--module-"]:not(.paragraph--type--module-card, .paragraph--type--module-6),
    body:not(.path-frontpage, .page-node-type-programme) .paragraph--type--i2-accordion-paragraphs {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .paragraph--type--module-6 {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    /* module 4 */
    .paragraph--type--module-4 .accordion-flush .accordion-collapse.show {
        margin-top: 40px;
    }

    /* module 4 end */
}

@media only screen and (max-width: 991.98px) {

    .paragraph--type--module-1,
    .paragraph--type--module-2,
    .paragraph--type--module-3,
    .paragraph--type--module-4,
    .paragraph--type--module-5,
    .paragraph--type--module-7,
    .paragraph--type--module-8,
    .paragraph--type--module-9,
    .paragraph--type--i2-accordion-paragraphs {
        padding-bottom: 50px;
    }

    body:not(.path-frontpage, .page-node-type-page) .has-border [class*="paragraph--type--module-"]:not(.paragraph--type--module-card, .paragraph--type--module-6),
    .paragraph--type--i2-accordion-paragraphs {
        padding-top: 50px;
    }

    .column-25,
    .column-33,
    .column-50,
    .column-67,
    .column-75 {
        width: 100% !important;
    }

    /* module 1 */
    body:not(.path-frontpage) .paragraph--type--module-1 .layout--twocol-section.layout--twocol-section--50-50>.layout__region--first h2 {
        display: block;
    }

    body:not(.path-frontpage) .paragraph--type--module-1 .layout--twocol-section.layout--twocol-section--50-50>.layout__region--second h2 {
        display: none;
    }

    /* module 1 end */
    /* module 1, module 9 */
    .paragraph--type--module-1 .layout--twocol-section.layout--twocol-section--50-50>.layout__region--first,
    .paragraph--type--module-1 .layout--twocol-section.layout--twocol-section--50-50>.layout__region--second {
        width: 100%;
        flex: 1 1 auto;
    }

    .paragraph--type--module-9 .layout--twocol-section {
        column-gap: 20px;
    }

    /* module 1, module 9 end */
    /* module 2 */
    .paragraph--type--module-2>.paragraph__column h2 {
        margin-bottom: 30px;
    }

    /* module 2 end */
    /* module 3 */
    .paragraph--type--module-3 .swiper-slide {
        width: 50%;
    }

    /* module 3 end */
    /* module 4 */
    .paragraph--type--module-4>.paragraph__column {
        row-gap: 40px;
    }

    /* module 4 end */
    /* module 7 */
    .paragraph--type--module-7 .i2-table table>thead>tr>th {
        min-width: 200px;
    }

    /* module 7 end */
    /* module 8 */
    .paragraph--type--module-8>.paragraph__column>div:not(.field) {
        width: 100%;
    }

    /* module 8 end */
}

@media screen and (max-width: 767.98px) {

    /* module 3 */
    .paragraph--type--module-3 .swiper-slide {
        width: 100%;
    }

    /* module 3 end */
}
